<!DOCTYPE html>
<<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="../resources/style.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Add Comment</title>
</head>
<body>
<p>Comment:</p>
<form action="#" th:action="@{saveComment}" th:object="${comment}" method="post">
    <input type="hidden" th:field="*{commentId}">
    <input type="hidden" th:field="*{document.docId}">
    <input type="hidden" th:field="*{user.username}">
    <input type="text" th:field="*{text}" placeholder="type your comment"/>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    <button type="button"><a th:href="@{/}">home</a> </button>
</form>

</body>
</html>