<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="resources/style.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
Authenticated username:
<div sec:authentication="principal.username"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>
<div class="form">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>
</div>
<div>
    <button type="button"><a th:href="@{/documents/formForAddDocument}">Add document</a></button>
    <button type="button"><a th:href="@{/documents/list}">List of  my documents</a></button>
    <div sec:authorize="hasAnyRole('ROLE_MODERATOR, ROLE_ADMIN')">
        <button type="button"> <a th:href="@{/documents/allDocuments}">List of all documents</a> </button>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <button type="button"><a th:href="@{/messages/requestForUpgrade(username=${#authentication.name})}">Request for
            role upgrade</a></button>
    </div>

</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">

    <button type="button"><a th:href="@{/messages/getAllUpgradeRequests}"> See users to be upgraded to moderator
        role: </a></button>
    <button type="button"><a th:href="@{/messages/getAllDocumentsToBeDeleted}"> See list of docs to be deleted </a></button>
    <button type="button"><a th:href="@{/messages/getAllCommentsToBeDeleted}"> See list of comments to be deleted </a></button>

</div>
<div sec:authorize="hasAnyRole('ROLE_MODERATOR, ROLE_ADMIN')">
    <button type="button"><a th:href="@{/users/allUsers}"> Go to list of all users</a> </button>
</div>

<div sec:authorize="hasRole('ROLE_MODERATOR')">
    <button type="button"><a th:href="@{/messages/sendMessage}"> Send message to ADMIN</a></button>
</div>

</body>
</html>