<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="resources/style.css" type="text/css"/>
    <script>
        $('.message a').click(function(){
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
    <title>Login page</title>
</head>
<body>
<p th:if="${param.error}" class="error">
    Bad Credentials
</p>
<p th:if="${param.logout}" >
    You have been logged out
</p>

<div class="login-page">
    <div class="form">
           <form th:action="@{/authenticateUser}" method="post" class="login-form">
            <input type="text" name="username" th:required="required" th:autofocus="autofocus" placeholder="username"/>
            <input type="password" name="password" th:required="required" placeholder="password"/>
            <input type="submit" value="Sign In"/>
            <p class="message">Not registered? <a th:href="@{/registration}">Create an account</a></p>
        </form>
    </div>
</div>


</body>
</html>

