<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="../resources/style.css" type="text/css"/>
    <meta charset="UTF-8">
    <title>Update document</title>
</head>
<body>
Authenticated username:
<div sec:authentication ="principal.username"> </div>
Authenticated user roles:
<div sec:authentication ="principal.authorities"> </div>
<div sec:authorize="hasRole('ROLE_ADMIN')">    here is something visible for admin only </button>
</div>
<form action="#" th:action="@{updateDocument}" th:object="${document}" method="post">
    <input type="hidden" th:field="*{docId}"/>
    <p>docTitlee: <input type="text" th:field="*{docTitle}" /></p>
    <p>docDescription: <input type="text" th:field="*{docDescription}" /></p>
    <p>docComment: <input type="text" th:field="*{docComment}" /></p>
    <p>file: <input type="file" th:field="*{file}" name="file"></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>